<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.Javaone.control.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LoginUserServlet</servlet-name>
        <servlet-class>com.Javaone.control.user.LoginUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUserServlet</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>addUserServlet</servlet-name>
        <servlet-class>com.Javaone.control.user.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUserServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.Javaone.control.goods.SearchGoodsIngoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>allAdminServlet</servlet-name>
        <servlet-class>com.Javaone.control.admin.AllAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allAdminServlet</servlet-name>
        <url-pattern>/allAdminServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>addAdminServlet</servlet-name>
        <servlet-class>com.Javaone.control.admin.AddAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAdminServlet</servlet-name>
        <url-pattern>/addAdminServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>updateAdminServlet</servlet-name>
        <servlet-class>com.Javaone.control.admin.UpdateAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateAdminServlet</servlet-name>
        <url-pattern>/updateAdminServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>com.Javaone.control.admin.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>search1</servlet-name>
        <servlet-class>com.Javaone.control.admin.Search1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search1</servlet-name>
        <url-pattern>/Search1</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>deletAdminServlet</servlet-name>
        <servlet-class>com.Javaone.control.admin.DeletAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletAdminServlet</servlet-name>
        <url-pattern>/DeletAdminServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>allGoodsServlet</servlet-name>
        <servlet-class>com.Javaone.control.goods.AllGoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allGoodsServlet</servlet-name>
        <url-pattern>/allGoodsServlet</url-pattern>
    </servlet-mapping>


</web-app>